#cabecalho{
    background-color: var(--primario);
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 5px;
    color: var(--branca);
}

#div-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo, #lista-menu{
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-menu, 

#logo{
    background-color: aqua;
    width: 20%;
    height: 100px;
    

}

#nav-menu, #lista-menu{
    background-color: aqua;
    width: 70%;
    height: 100px;
}

#logo{
    width: 20px;
    height: 100px;
}

#lista-menu li{
    list-style: none;
    margin: 0px 5px;
}


/*FORMATAÇÃO DOS LINKS DO */
a:link, a:visited, a:active{
    text-decoration: none;
    font-size: 20px;
    color: var(--branca);
    transition: opacity 0.5s ease;
}

a:hover{
    opacity: 0.5;
}
