<header id="menu">
    <div id="div-menu">
        <div id="logo">
           LOGO
        </div>
        <nav id="nav-menu">
            <ul id="lista-menu">
                <li>
                    <a href="#" calss="routerlink"> Home </a>
                </li>
                <li>
                    <a href="#" class="routerlink" > Cadastro</a>
                </li>
                <li>
                      <a href="#" class="routerlink" > Consulta</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
